:root {
    --primary-color: #1a5f7a;
    --secondary-color: #f0b429;
    --dark-color: #0d3b4f;
    --light-color: #f5f7fa;
}

body{
    background-color: #f5f5f9 !important;
}

.bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
    color: #f0b429 !important;
    background-color: #f0b42936 !important;
}

.bg-menu-theme .menu-inner > .menu-item.active:before {
    background: #f0b429 !important;
}






.layout-menu {
  position: fixed;       /* fixed sidebar */
  top: 0;
  left: 0;
  height: 100vh;         /* full height */
}


.layout-page{
  margin-left: 250px;
}
.mobile-menu-btn{
    display: none !important;
}
@media (max-width: 1200px) {
  .layout-page{
  margin-left: 0;
}
  .menu{
    transition: all ease-out .5s;
  }
  .layout-menu.open{
    transform: translateX(0);
  }
.mobile-menu-btn{
    background-color: var(--primary-color) !important;

    border: 7px solid #f5f5f9 !important; 
    position: absolute !important;
    left: 15rem !important;
    border-radius: 50% !important;
    color: white !important;
    font-size: 20px !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer !important;
  }
}


aside li a:hover{
    translate: unset;
}



.notification-icon{
    position: relative;
}
.notification-icon span{
    position: absolute !important;
    top: 5px !important ;
    right: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


.navbar-brand {
    font-size: 28px;
    font-weight: bold;
    color: var(--primary-color);
}

.navbar-brand span {
    color: var(--secondary-color);
}

.btn-custom{
  background-color: var(--secondary-color);
  color: white;

}